include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main-content
        section.welcome-section
          section.parallax
            .parallax__layer(data-speed="0")
              +image('content/Sky.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.2")
              +image('content/Mountain.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.3")
              +image('content/Baloon.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.35")
              +image('content/Cloud.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.4")
              +image('content/Man.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.43")
              +image('content/Mountain1.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.48")
              +image('content/White.png', 'parallax__image', "горный пейзаж")
          section.main-section
            .container
              .mycontainer
                header.header
                  a.logo(href="#" ) RZ
                  .header-roll
                    nav.nav
                      ul.nav__list
                        - var menu = ['Главная', 'Обо мне', 'Навыки' , 'Работы' , 'Отзывы', 'Связаться'];
                        each item in menu
                          li.nav__item
                            a(href="").nav__link #{item}
                    .header__links
                      ul.socials
                        - var socials = ['insta', 'vk', 'github'];
                        each item in socials
                          li.socials__item
                            a(href="").socials__link
                              +icon(`${item}`, 'socials__icon')
                h1.user-content
                  span.user-content__desc Личный сайт вэб разработчика
                  span.user-content__name Резе Татьяна
                button.main-button Скролл
                  +icon('scroll', 'scroll-class')
          section.aboutme-section
              .container
                .information
                  .information__fact
                    +image('content/user.jpg', 'my-foto', "фото вэб-разработчика")
                    .user__data
                        table.user__data-table
                          - 
                            var data = [
                              ['Проживаю', 'Москва'],
                              ['Возраст', '33 года'],
                              ['Родилась', '28 мая 1985'],
                            ]
                          each row in data
                            tr.user__data-row
                              td.user__data-cell #{row[0]}
                              td.user__data-cell #{row[1]}
                  .information__desc 
                    h2.information__desc-point   
                      span.information__desc-point-text Привет,меня зовут 
                      span.information__desc-point__name Резе Татьяна 
                      span.information__desc-point-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p.information__desc-remark Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles
          svg.triangles__item.trianles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )
        section.good-section
          .container
            .good-desc
              +image('content/rucksack.png', "good-desc__ipg", "рюкзак")
              .good-desc__skills
                h2.good-desc__skills-title Чем я могу быть полезна вам
                p.good-desc__skills-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                ul.user-skills
                  - 
                    var skills = [
                      ['Front-end', ['html', 'css', 'js']],
                      ['Workflow', ['git', 'gulp', 'webpack']],
                    ]
                  each item in skills
                    li.user-skills__item.skills-row
                      h3.skills__name #{item[0]}
                      ul.good-desc__skills-list
                        each skill in item[1]
                          li.good-desc__skills-item
                            .good-desc__skills-link
                              svg(viewBox="0 0 100 100" preserveAspectRatio="none").percentage
                                circle.circle.circle__under(cx="50", cy="50", r="40")
                                circle.circle.circle__above(cx="50", cy="50", r="40")
                                linear-gradient()
                              .cirkle__name #{skill}
        section.job-section
          .container
            h2.job-section__title Мои работы
            .job-section__content
              .slaider-job
                ul.slaider-job__list
                  li.slaider-job__item
                    a.slaider-job__link(href="#")
                      +image('content/job.png', "slaider-ipg", "фото проекта")
                    .slaider__scroll
                      button.slaider__scroll-up
                        +icon('arrow-down', 'scroll-up__icon')
                      button.slaider__scroll-down
                        +icon('arrow-down', 'scroll-down__icon')
              .desc-job
                .desc-job__info
                  span.desc-job__info-name HTML
                  span.desc-job__info-name CSS
                  span.desc-job__info-name JavaScript
                h3.desc-job__title Сайт школы образования
                p.desc-job__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a.desc-job__button(href="#")
                  +icon('link', 'link-class')
                  span.desc-job__btn Посмотреть сайт
        .triangles-down
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="1000,0 0,0 0,100"
            )
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 1000,100 1000,0"
            )
        section.relation-section
          section.parallax
            .parallax__layer(data-speed="0")
              +image('content/1.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.25")
              +image('content/2.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.35")
              +image('content/3.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.38")
              +image('content/4.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.45")
              +image('content/5.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.48")
              +image('content/6.png', 'parallax__img', "картинка с Буддой")
          section.review-section
            .container.conteiner-review
              .review-section__roll
                h2.review-section__roll-title Что обо мне говорят
                .review__scroll
                  button.slaider__scroll-prev
                    +icon('arrow-down', 'scroll-prev__icon')
                  button.slaider__scroll-next
                    +icon('arrow-down', 'scroll-next__icon')
              .review-section__content
                ul.review-section__list
                  li.review-section__item
                    +icon('quote', 'quote-class')
                    .review-section__desc
                      article.review-section__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .review-sub
                        .review-sub__icon
                          +image('content/Kovalchuk.jpg', 'review-ipg', "аватар")
                        .review-sub__text
                          span.review-sub__text-name Ковальчук Дмитрий
                          span.review-sub__text-job Основатель Loftschool
                  li.review-section__item
                    +icon('quote', 'quote-class')
                    .review-section__desc
                      article.review-section__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
                      .review-sub
                        .review-sub__icon
                          +image('content/sabancev.jpg', 'review-ipg', "аватар")
                        .review-sub__text
                          span.review-sub__text-name Владимир Сабанцев
                          span.review-sub__text-job Преподаватель
          section.contact-section
            .container
              h2.contact-section__title Связаться со мной
              form.form
                .myForm__part
                  .form-row
                    label.form-block(for='')
                      span.form-name__label Введите ваше имя
                      .conteiner__label
                        +icon('user', 'form-class')
                        input.form__input(type='text', name='name',placeholder='Ковальчук Дмитрий', required)
                    label.form-block(for='')
                      span.form-name__label Введите ваш email
                      .conteiner__label
                        +icon('envelope', 'form-class')
                        input.form__input(name='email', type='email', placeholder='loftschool@study.com',required)
                .myForm__part
                  .form-row
                    label.form-block(for='')
                      span.form-name__label Сообщение к письму
                      .conteiner__label
                        +icon('message', 'form-class')
                        textarea.form__input.form__input-textarea(name='comment', cols='50', rows='2',required, 
                        placeholder='Требуется ваша помощь в создании сайта.Интересуют сроки и цена вопроса')
                button.form__btn Отправить
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year ©2019
              .copyright__part
                .copyright__username Резе Татьяна
                .copyright__desc Личный сайт веб-разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .footer__data-columns
                .footer__data-col
                  article.footer__text
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  ul.footer__social.socials.socials--rounded
                    each item in socials
                      li.socials__item
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    p Martin Golding 







