include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .main-content
        section.welcome-section
          section.parallax
            .parallax__layer(data-speed="0")
              +image('content/Sky.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.2")
              +image('content/Mountain.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.3")
              +image('content/Baloon.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.35")
              +image('content/Cloud.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.4")
              +image('content/Man.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.43")
              +image('content/Mountain1.png', 'parallax__image', "горный пейзаж")
            .parallax__layer(data-speed="0.48")
              +image('content/White.png', 'parallax__image', "горный пейзаж")
          section.main-section#home
            .container
              .mycontainer
                header.header
                  a.logo(href="#" ) RZ
                  .header-roll
                    .header__middle#header-scroll
                      nav.nav
                        ul.nav__list.nav__list-header
                          - var menu = [['Главная','#home'], ['Обо мне', '#about'], ['Навыки','#skills'] , ['Работы','#works'] , ['Отзывы','#reviews'], ['Связаться','#contacts']];
                          each item in menu
                            li.nav__item
                              a(href=`${item[1]}` v-scroll-to="'${item[1]}'").nav__link #{item[0]}
                      a.popup__close(href="#")
                          +icon('remove','popup__close-svg')
                    .header__links
                      ul.socials.socials-header
                        - var socials = ['insta', 'vk', 'github'];
                        each item in socials
                          li.socials__item
                            a(href="").socials__link
                              +icon(`${item}`, 'socials__icon')
                      a.menu-link(href="#")
                        .menu-link__line
                      ul.socials.socials-menu-link
                        - var socials = ['insta', 'vk', 'github'];
                        each item in socials
                          li.socials__item
                            a(href="").socials__link
                              +icon(`${item}`, 'socials__icon')
                h1.user-content
                  span.user-content__desc Личный сайт #[span.user-content__occ веб разработчика]
                  span.user-content__name Резе Татьяна
                button.main-button(id="arrow-scroll", v-scroll-to="'#about'") Скролл
                  +icon('scroll', 'scroll-class')
          section.aboutme-section#about
              .container
                .information
                  .information__fact
                    +image('content/user.jpg', 'my-foto', "фото вэб-разработчика")
                    .user__data
                        table.user__data-table
                          - 
                            var data = [
                              ['Проживаю', 'Москва'],
                              ['Возраст', '33 года'],
                              ['Родилась', '28 мая 1985'],
                            ]
                          each row in data
                            tr.user__data-row
                              td.user__data-title #{row[0]}
                              td.user__data-content #{row[1]}
                  .information__desc 
                    h2.information__desc-point   
                      span.information__desc-point-text Привет,меня зовут 
                      span.information__desc-point__name Резе Татьяна 
                      span.information__desc-point-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p.information__desc-remark Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles
          svg.triangles__item.trianles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,100 1000,100 1000,0"
            )
        section.values#skills
            .container.values__container
              .values__wrapper
                .values__title
                  .values__title-container
                    .values__title-text Чем я могу быть полезна вам
                    .values__content
                      p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .values__widget
                  #skills-component
        section.works#works
          .container.works__container
            .section-title.works__section-title Мои работы
            .works__content
              #slider-component
        .triangles-down
          svg.triangles__item.triangles__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="1000,0 0,0 0,100"
            )
          svg.triangles__item.triangles__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(
              points="0,0 1000,100 1000,0"
            )
        section.relation-section
          section.parallax
            .parallax__layer(data-speed="0")
              +image('content/1.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.25")
              +image('content/2.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.35")
              +image('content/3.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.38")
              +image('content/4.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.45")
              +image('content/5.png', 'parallax__img', "картинка с Буддой")
            .parallax__layer(data-speed="0.48")
              +image('content/6.png', 'parallax__img', "картинка с Буддой")
          section.review-section#reviews
            .container.conteiner-review
              .review-section__roll
                h2.review-section__roll-title Что обо мне говорят
                .review__scroll
                  button.slaider__scroll-prev(@click="previous()")
                    +icon('arrow-down', 'scroll-prev__icon')
                  button.slaider__scroll-next(@click="next()")
                    +icon('arrow-down', 'scroll-next__icon')
              .review-section__content
                flickity(ref="flickity" :options="flickityOptions").review-section__list
                  .review-section__item.carousel-cell
                    +icon('quote', 'quote-class')
                    .review-section__desc
                      article.review-section__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .review-sub
                        .review-sub__icon
                          +image('content/Kovalchuk.jpg', 'review-ipg', "аватар")
                        .review-sub__text
                          span.review-sub__text-name Ковальчук Дмитрий
                          span.review-sub__text-job Основатель Loftschool
                  .review-section__item.carousel-cell
                    +icon('quote', 'quote-class')
                    .review-section__desc
                      article.review-section__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
                      .review-sub
                        .review-sub__icon
                          +image('content/sabancev.jpg', 'review-ipg', "аватар")
                        .review-sub__text
                          span.review-sub__text-name Владимир Сабанцев
                          span.review-sub__text-job Преподаватель
                  .review-section__item.carousel-cell
                    +icon('quote', 'quote-class')
                    .review-section__desc
                      article.review-section__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
                      .review-sub
                        .review-sub__icon
                          +image('content/sabancev.jpg', 'review-ipg', "аватар")
                        .review-sub__text
                          span.review-sub__text-name Владимир Сабанцев
                          span.review-sub__text-job Преподаватель
                  .review-section__item.carousel-cell
                    +icon('quote', 'quote-class')
                    .review-section__desc
                      article.review-section__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
                      .review-sub
                        .review-sub__icon
                          +image('content/sabancev.jpg', 'review-ipg', "аватар")
                        .review-sub__text
                          span.review-sub__text-name Владимир Сабанцев
                          span.review-sub__text-job Преподаватель
          section.contact-section#contacts
            .container
              h2.contact-section__title Связаться со мной
              form.form
                .form__part
                  .form-row
                    label.form-block(for='')
                      span.form-name__label Введите ваше имя
                      .conteiner__label
                        +icon('user', 'form-class')
                        input.form__input(type='text', name='name',placeholder='Ковальчук Дмитрий', required)
                    label.form-block(for='')
                      span.form-name__label Введите ваш email
                      .conteiner__label
                        +icon('envelope', 'form-class')
                        input.form__input(name='email', type='email', placeholder='loftschool@study.com',required)
                .form__part
                  .form-row
                    label.form-block(for='')
                      span.form-name__label Сообщение к письму
                      .conteiner__label
                        +icon('message', 'form-class')
                        textarea.form__input.form__input-textarea(name='comment',required, 
                        placeholder='Требуется ваша помощь в создании сайта.  Интересуют сроки и цена вопроса')
                button.form__btn Отправить
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright
                .copyright__year ©2019
              .copyright__part
                .copyright__username Резе Татьяна
                .copyright__desc Личный сайт веб-разработчика
            .footer__data
              .footer__menu
                nav.nav.nav--color-white
                  ul.nav__list.nav__list-footer#footer-scroll
                    each item in menu
                      li.nav__item
                        a(href=`${item[1]}` v-scroll-to="'${item[1]}'").nav__link #{item[0]}
              .footer__data-columns
                .footer__data-col
                  article.footer__text
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  ul.footer__social.socials.socials--rounded
                    each item in socials
                      li.socials__item
                        a(href="").socials__link
                          +icon(`${item}`, 'socials__icon')
                .footer__data-col
                  article.footer__text
                    p.footer__text-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    span.footer__text-author Martin Golding 

    include ./templates/entry.pug






